body
  font: 14px -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"

.navbar
  background: linear-gradient(to right, #44bd78, #b1c75b)

  .site-name
    color: #FFFFFF !important
    font-weight: 400 !important

  .links
    background-color: transparent !important

    .nav-links > .nav-item > .nav-link
      color: #FFFFFF
      svg
        color: #FFFFFF
    .nav-links > .nav-item > .dropdown-wrapper .title
      color: #FFFFFF

    .nav-links > .nav-item > .dropdown-wrapper .arrow
      border-top-color: #FFFFFF

    .repo-link
      color: #FFFFFF
      svg
        color: #FFFFFF

.page
  a
    color: #428bca

.table-of-contents
  li
    list-style none
  & > ul
    padding: 0px
    & > li
      & > a
        display none
      & > ul
        padding: 0px
        column-count: 3
        column-width: 200px
        & > li a .badge
          font-size: x-small
          height: auto;
          line-height: 1.5 em;
          padding: 0 3px;
          vertical-align: middle !important