body
  font: 14px -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"

.navbar
  background: #FFFFFF
  border-bottom: 1px solid #eaecef

  .site-name
    color: #94979B !important
    font-weight: 400 !important

  .search-box input
    border-radius: 0.25rem

  .links
    background-color: transparent !important

    .nav-links > .nav-item > .nav-link
      color: #94979B
      svg
        color: #94979B
    .nav-links > .nav-item > .dropdown-wrapper .title
      color: #94979B

    .nav-links > .nav-item > .dropdown-wrapper .arrow
      border-top-color: #94979B

    .repo-link
      color: #94979B
      svg
        color: #94979B

.sidebar
  border-right: 1px solid #eaecef

.page
  a
    color: #3498AB

.table-of-contents
  li
    list-style none
  & > ul
    padding: 0px
    & > li
      & > a
        display none
      & > ul
        padding: 0px
        column-count: 3
        column-width: 200px
        & > li a .badge
          font-size: x-small
          height: auto;
          line-height: 1.5 em;
          padding: 0 3px;
          vertical-align: middle !important

div[class~=language-r]:before
  content: 'r';

.theme-default-content code
    padding: 0.15rem 0.5rem
    border: 1px solid rgba(27,31,35,0.05)

.theme-default-content ul
  list-style-type: circle;

kbd
  font-size: 90%
  background: none
  border: solid 0.05rem #ddd
  border-radius: 0.15rem
  padding: 0.15em 0.25em
  white-space: nowrap

figure
  margin-inline-start: 0px
  margin-inline-end: 0px

.home .features
  align-items: normal !important

  & .feature  
    display: flex
    justify-content: space-between
    flex-direction: column

    & p:nth-child(2)
      margin-bottom: auto !important

  & .feature.flex50
    flex-basis: 50% !important
    max-width: 50% !important

.theme-default-content code
  color: $accentColor