/**
  * PhotosynQ CSS for printing PDF
  */

/** Set Font */
body > * {
  font-family: "Orkney", "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 300;
}

body {
  background-image: url('./src/css/logo.svg');
  background-repeat: no-repeat;
  background-position: center 100px;
  background-size: 50%;
  color: rgb(77, 77, 77);
}

h1:first-of-type, h1.chapter {
  margin-top: 50%;
  /* border-bottom: 1pt solid #cccccc; */
  /* padding-bottom: 0.15em; */
}

h1:first-of-type:after, h1.chapter:after {
  content: " ";
  width: 100%;
  height: 250px;
  background-image: url('./src/css/hero.png');
  background-repeat: no-repeat;
  background-size: cover; 
  top: 60%;
  right: 0px;
  position: absolute;
  display: inline-block;
}

h1:nth-of-type(n+2) {
  padding-bottom: 0.25em;
}

h1:first-of-type + p {
  page-break-after: always !important;
}

h1.chapter {
  counter-increment: section;
  border-bottom: none;
  page-break-before: always !important;
  page-break-after: always !important;
}

h1.chapter:before {
  content: counter(section) ". ";
}

h1 {
  color: #3498AB !important;
}

h2 {
  border-bottom: 1pt solid rgb(204, 204, 204);
}

h2 + p, h3 + p, h4 + p, h5 + p, h6 + p {
  page-break-before: avoid !important;
}

h1, h2, h3, h4, h5, h6 {
  page-break-after:avoid !important;
  color: rgb(51, 51, 51)
}

/** Links */
a {
  color: #3498AB;
}

a:link:not([href^="#"]):after {
  content: "";
}

/** Horizontal ruler */
hr {
  /* page-break-after:always !important; */
  /* border-color:transparent !important ; */
  height: 0;
  margin: 2em 0;
  border: none;
  border-bottom: 1px solid rgb(235, 235, 235);
}

/** Lists */
ul {
  list-style-type: square;
}

/** Tables */
table {
  max-width: 100% !important;
  overflow: auto;
  display: block; /* Fix for wide tables */
  page-break-after:auto !important;
  border-collapse: collapse !important;
}

thead, tfoot {
  display: table-header-group !important;
}

thead, tbody, tfoot {
  vertical-align: middle;
}

td {
  page-break-inside:auto;
}

tr {
  page-break-inside: avoid !important;
}

th {
  font-weight: bolder;
  text-align: center;
}

td, th, tr {
  vertical-align: inherit;
}

th, td {
  border: 1pt solid #cccccc;
  padding: 0.25rem;
}

tr:nth-child(2n) {
  background-color: #f8f8f8;
}

thead tr td, thead tr th {
  border-bottom-width: 1pt;
  border-bottom-color: #666666;
}

/** Code **/
pre > code, pre, tt, code, kbd, samp {
  font-family: Menlo,Monaco,Consolas,"Courier New", monospace;
  font-size: 12px;
  color: inherit;
  background-color: transparent;
  white-space: pre-wrap;
  padding: 1em;
}

code {
  padding: 2px 4px;
  color: #c7254e;
  background-color: #f9f2f4;
  white-space: nowrap;
  border-radius: 4px;
}

pre {
  padding: 5px;
  color: #000000;
  background-color: transparent;
  border-left: 2px solid #ddd;
}


/** User input */
kbd {
  font-family: Menlo,Monaco,Consolas,"Courier New", monospace;
  font-size: 90%;
  background: none;
  border: solid 0.05rem #ddd;
  border-radius: 0.15rem;
  padding: 0.15em 0.25em;
}

/** Figures */
figure, figcaption {
  border: none;
  text-align: left;
  color: #333333;
  width: 100% !important;
  margin: 0px 0px 20px 0px !important;
  padding: 0px !important;
  page-break-inside: avoid !important;
}

figure img {
  max-width: 100%;
}

figcaption {
  font-style: italic;
  margin-top: 5px !important;
  clear: both;
}

/** Input */
input:disabled, textarea:disabled {
  color: rgb(84, 84, 84);
  cursor: default;
}

/** Extra elements */
.text-muted {
  color: #94979B;
}

.custom-block {
  page-break-inside: avoid !important;
  padding: 0.1rem 1.5rem;
  border-left-width: 0.5rem;
  border-left-style: solid;
  margin: 1rem 0;
}

.tip {
  background-color: rgb(243, 245, 247);
  border-color: rgb(66, 185, 131);
}

.title-tip {
  font-weight: 600;
}

.warning {
  background-color: rgba(255,229,100,0.3);
  border-color: rgb(231, 192, 0);
  color: rgb(107, 89, 0);
}

.title-warning {
  font-weight: 600;
  color: rgb(178, 148, 0);
}

.danger {
  background-color: rgb(255, 230, 230);
  border-color: rgb(204, 0, 0);
  color: rgb(77, 0, 0);
}

.title-danger {
  font-weight: 600;
  color: rgb(153, 0, 0);
}

.badge {
  display: inline-block;
  font-size: 14px;
  height: 18px;
  line-height: 18px;
  border-radius: 3px;
  padding: 0 6px;
  color: #fff;
  background-color :rgb(66, 185, 131);
  vertical-align: top;
}

.badge.tip {
  background-color: rgb(66, 185, 131);
}

.badge.warn {
  background-color: rgb(231, 192, 0);
}

.badge.error {
  background-color: rgb(218, 89, 97);
}

kbd {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
  background: #eee;
  border: solid 0.15rem #ddd;
  border-bottom: solid 0.25rem #ddd;
  border-radius: 0.15rem;
  padding: 0 0.15em;
}